<div class="row">
  <div class="span12">
  <% if current_user && current_user.role == 'admin' %>
    <b>User List</b>
      <table border="1">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Current Role</th>
          <th>Update Role</th>
          <th>Authorized</th>
        </tr>
      <% @users.each do |user| %>
        <%# if user.role == 'admin' && user.email != current_user.email %>
        <tr>
          <td><center><%= user.name %></td></center>
          <td><center><%= user.email %></td></center>
          <td><center><%= user.role %></td></center>
          <td><center><%= check_box_tag :role, user.role, @users.include?(user) %></center></td>
          <td><center><%= user.authorize %></td></center>
          <%#= label_tag :user_ids, user.email %>
        </tr>
        <%# end %>
      <% end %>
      </table>
      <%= submit_tag %>
  <% end %>
  </div>
</div>