<%= form_for [gallery, picture], html: { class: 'form' } do |f| %>
  <%= control_group_tag(gallery.errors[:image]) do %>
    <%= f.label :image, class: 'control-label' %>
    <div class="controls">
      <%= f.file_field :image %>
    </div>
  <% end %>
  <div class="control-group">
    <div class="controls">
      <%= f.submit "Save", class: 'btn' %>
    </div>

<% end %>