<div class="span12">

  <% if can? :edit, @gallery %>
    <%= link_to "Edit", edit_gallery_path(@gallery), class: 'btn btn-small btn' %>
  <% end %>
  <% if can? :create, Picture %>
    <%= link_to "New Picture", new_gallery_picture_path(@gallery), class: 'btn btn-small btn' %>
  <% end %>

  <h1><%= markdown @gallery.title %></h1>
  <p><%= markdown @gallery.description %><p>


  <% @gallery.pictures.each do |picture| %>
    <%= link_to image_tag(picture.image_url(:thumb)), edit_gallery_picture_path(@gallery) %>
  <% end %>

  
  <%# @pictures.each do |picture| %>
</div>