<div class="span12">

  <% if can? :edit, @gallery %>
    <%= link_to "Edit", edit_gallery_path(@gallery), class: 'btn btn-small btn-primary' %>
  <% end %>
  <% if can? :create, Picture %>
    <%= link_to "New Picture", new_gallery_picture_path(@gallery), class: 'btn btn-small btn-primary' %>
  <% end %>

  <h1><%= markdown @gallery.title %></h1>
  <p><%= markdown @gallery.description %><p>

  <% @gallery.pictures.each do |picture| %>
    <%= link_to image_tag(picture.image_url(:view)), picture.image_url %>
  <% end %>

  
  <%= render @comments %>

  <% if can? :create, Comment %>
    <hr/>
    <h4>New Comment</h4>
    <%= render partial: 'comments/form', locals: { gallery: @gallery, comment: @comment } %>
  <% end %>
</div>