<!DOCTYPE html>
<html>
  <head>
    <title>Franzi Family Website</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
    <body>
      <div class="container">
        <ul class="nav nav-tabs">
          <li><b><%= link_to "Franzi", root_path, class: 'btn btn-small btn-primary' %></b></li>
          <li><b><%= link_to "Posts", posts_path, class: 'btn btn-small btn-primary' %></b></li>
          <% if current_user && current_user.role != 'guest' %>
            <li><b><%= link_to "Gallery", galleries_path, class: 'btn btn-small btn-primary' %></b></li>
          <% end %>
          <% if current_user && current_user.role == 'admin' %>
            <li><b><%= link_to "User-list", users_path, class: 'btn btn-small btn-primary' %></b></li>
          <% end %>
          <div class="pull-right user-info">
            <% if current_user %>
              Hello <%= (current_user.name || current_user.email) %>!
              <%= link_to edit_user_registration_path, class: 'btn btn-mini' do %>
              <i class="icon-user"> </i>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-mini' do %>
              <i class="icon-share-alt"> </i>
            <% end %>
            <% else %>
              <%= link_to "Sign In", new_user_session_path, class: 'btn btn-small btn-primary' %> or 
              <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-small btn-primary' %>
            <% end %>
          </div>
        </ul>
        <% flash.each do |key,value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}")%>
        <% end %>
      <%= yield %>
      </div>

</body>
</html>
